---
import { logout } from '../lib/auth';
import Settings from './icons/Settings.astro';
import User from './icons/User.astro';
import Logout from './icons/Logout.astro';
import UsersIcon from './icons/Users.astro';

interface Props {
  user: {
    userId: number;
    username: string;
    fullName: string;
    role: 'superadmin' | 'admin' | 'user';
    sector: 'primaria' | 'secundaria' | 'bachillerato' | 'universidad';
  } | null | undefined;
  token?: string;
}

const { user, token } = Astro.props;
---
<script src="https://unpkg.com/alpinejs" defer></script>

<header>
  <div class="flex justify-between items-center py-3 px-10 relative">
    <a href="/">
      <div class="logo">Rolando</div>
    </a>
    <ul class="nav-left flex items-center bg-[#1F1F23] px-5 py-1 rounded-full gap-x-5">
      <li class="px-3 py-2 text-gray-400 cursor-pointer">Primaria</li>
      <li class="px-3 py-2 text-black cursor-pointer bg-yellow-300 rounded-full">Secundaria</li>
      <li class="px-3 py-2 text-gray-400 cursor-pointer">Preparatoria</li>
      <li class="px-3 py-2 text-gray-400 cursor-pointer">Universidad</li>
    </ul>
    <ul class="nav-right flex justify-center items-center gap-x-2 relative" x-data="{ open: false }">
      {user?.role === 'superadmin' && (
        <li class="w-10 h-10 bg-slate-200 rounded-full flex justify-center items-center cursor-pointer">
          <a href="/admin/users" title="Gestión de usuarios">
            <UsersIcon class="w-5" />
          </a>
        </li>
      )}
      <li class="w-10 h-10 bg-slate-200 rounded-full flex justify-center items-center cursor-pointer">
        <Settings class="w-5" />
      </li>
      <li @click="open = !open" class="w-10 h-10 bg-slate-200 rounded-full flex justify-center items-center cursor-pointer relative">
        <User class="w-5" />
        <!-- Dropdown -->
        <div x-show="open" @click.away="open = false" class="absolute top-12 right-0 bg-white rounded-md shadow-md py-2 w-40 z-50">
          <form method="POST" action="/api/logout" class="text-sm text-left px-4">
            <input type="hidden" name="token" value={Astro.cookies.get('session_token')?.value} />
            <button type="submit" class="w-full text-left py-2 rounded flex items-center gap-x-2 cursor-pointer">
              <Logout class="w-5" />
              Cerrar sesión
            </button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</header>

<!-- {user && (
  <div class="user-section">
    <form method="POST" action="/api/logout">
      <input type="hidden" name="token" value={Astro.cookies.get('session_token')?.value} />
      <button type="submit" class="btn btn-danger">Cerrar sesión</button>
    </form>
  </div>
)} -->